<h1 class="title">Scorekeeper</h1>

<form action="/game" method="post">
    <div class="form-group">
        <input type="text" class="form-control form-element" id="user-name-1" name="username1">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-element"  id="user-name-2" name="username2">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-element" id="user-name-3" name="username3">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-element" id="user-name-4" name="username4">
    </div>

    <button type="submit" class="btn btn-primary" id="submit-btn">CREATE NEW GAME</button>
</form>

